/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animation for Text Sliding In */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Initial state for the elements */
.animate-slide-in-right {
  opacity: 0;  /* Initially hide the text */
  animation: slideInRight 1.5s ease-out forwards;
}

/* Animation delay for each element */
.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s;
}

/* Ensure the body and main container take up full height */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
  background-color: #212846;
  max-height: calc(100vh - 50px - 50px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
